// 1. Header Base
.header.header-one {	
	.top-notice {
		display: flex;
		justify-content: center;
		background-color: #c5fff1;
		line-height: normal;
	
		a {
			display: flex;
			align-items: center;
			color: var(--secondary-color);
			font-family: var(--font-family);
			letter-spacing: 0.01em;
		
			&:hover {
				color: var(--secondary-color);
			}
		}
	
		h3 {
			margin-left: 2.7rem;
			margin-bottom: 0;
			font-family: var(--font-family);
			font-size: 2.4rem;
		}
	
		.product-price {
			color: #fff;
			background-color: var(--secondary-color);
			font-weight: 700;
			font-size: 2.4rem;
			line-height: 1;
			padding: 5px;
			margin: 0 5px;
		}
	
		.old-price {
			font-size: 1.4rem;
			color: var(--secondary-color);
			font-weight: 400;
		}
	
		.round-box {
			text-transform: uppercase;
			font-size: 1.3rem;
			font-weight: 500;
			line-height: 20px;
			color: #fff;
			background-color: var(--primary-color-dark);
			padding: 1rem 4rem;
			border-radius: 30px;
			margin-left: 3rem;
		}
	
	} 

	.header-top {
		border-bottom: 1px solid #e7e7e7;
		padding:  8px 0;
		font-size: 1.1rem;
		font-weight: 600;
		letter-spacing: .025em;
		line-height: 24px;
	
		a {
			color: inherit;
		}

		.social-icon:hover,
		.social-icon:focus,
		.social-icon:active {
			color: #fff;
		}
	}
	
	.header-middle .container {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.header-search-col {
		flex: 1;
		padding-left: 15%;
	}
	
	.header-bottom {
		box-shadow: 0 0 2px rgba(0,0,0,.15);

		// .container:before {
		// 	content: '';
		// 	display: block;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 10px;
		// 	right: 10px;
		// 	border-top: 1px solid #f4f4f4;
		// 	flex: 0 0 100%;
		// 	-ms-flex: 0 0 100%;
		// }
	}

	.header-search {
		margin-right: 1.9rem;
		font-size: 1.4rem;
	}

	.header-search-inline .form-control {
		flex: 0 1 40rem;
		padding-left: 3rem;
		padding-right: 1.5rem;
		font-size: 1.4rem;
	}

	.header-search-wrapper .btn {
		padding: 0 2rem 0 1.5rem;
	}

	.header-search-wrapper .select-custom {
		min-width: unset;
		width: 135px;
	}

	// .mobile-menu-toggler {
	// 	padding-top: 1.5rem;
	// 	padding-bottom: 1.5rem;
	// }

	.header-middle .mobile-menu-toggler {
		display: none;
	}

	.wish-link, .login-link {
		z-index: 1;
	}

	.wish-link i {
		font-size: 2.8rem;
	}

	.login-link i {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 52px;
		height: 52px;
		margin-right: 1.5rem;
		font-size: 2.5rem;

		&:after {
			width: 52px;
			height: 52px;
			border-color: rgba(244, 244, 244, .5);
			transform: translate(-26px, -30px);
		}
	}

	.header-icon, .minicart-icon {
		color: #fff;
	}

	.minicart-icon {
		border-color: #fff;
	}

	.cart-dropdown {
		.badge-circle {
			right: -4px;
			background-color: var(--primary-color-dark);
		}

		.dropdown-menu:before {
			right: 10px;
		}
	}

	.tagcloud {
		display: flex;
		flex-wrap: wrap;
		margin-left: 25px;
		margin-top: .2rem;
	
		a {
		  font-size: 1.3rem;
		  color: #fff;
		  line-height: 1;
		  margin-top: 1rem;
	
		  &:not(:last-child) {
			padding-right: 1rem;
			border-right: 1px solid rgba(#f4f4f4, 0.3);
			margin-right: 1rem;
		  }
	
		  &:hover {
			text-decoration: underline;
		  }
		}
	}
	
	& + .main .toolbox.toolbox-sticky {
		top: 79px;
	}
}

// 2. Header Elements

// 2.1) Header Dropdown
.header-one .header-dropdown {
	> a {
		display: -ms-inline-flexbox;
		display: inline-flex;
		position: relative;
		-ms-flex-align: center;
		align-items: center;
		padding-left: 0;
		padding-right: 5px;
		color: var(--primary-color-dark);
		font-size: 1.2rem;
		font-weight: 600;
		letter-spacing: .01em;

		&:not(.link-seller) {
		  line-height: 1.5;
		}
	
		&.link-seller {
		  color: #f14705;
		  font-size: 1.3rem;
		  font-weight: 700;
		  padding-right: 0;
		  
		  &:after {
			  display: none;
		  }
		}
	}

	.flags {
		margin-top: -1px;
		margin-right: 7px;
	}

	.dropdown-toggle:after {
		font-size: 17px;
	}

	.badge-circle {
		left: 21px;
	}
}

// 2.7) Main Nav
.header-one .main-nav .menu {
	margin-left: 1.4rem;
	margin-right: 1.5rem;
	line-height: normal;

	> li {
		> a {
			border-bottom: 0;
			font-size: 1.3rem;
			font-weight: 600;
			text-transform: none;
		}

		&.active > a,
		> a:hover {
			color: var(--primary-color);
		}

		&.float-right a:hover {
			border-top-color: transparent !important;
		}
	}

	.tip-top {
		padding: 2px;
		border-radius: 0;
		left: 85%;
		margin-top: 5px;
		font-size: 9px;
		transform: none;
	}

	.megamenu:before, 
	> li > ul:before {
		left: 50%;
		transform: translateX(-1.5rem);
	}

	.megamenu {
		right: -250px;
		left: auto;
	}

	> li > ul {
		left: -56px;
	}
}

.header-one .main-nav .menu-depart > a {
	background: var(--primary-color-dark);
	color: #fff;
}

// Category menu

// 3. Responsive
.header.header-one {
	@media (min-width: 1480px) {
		.main-nav .menu-depart > a {
			width: 268px;
		}

		.header-search-inline .form-control {
			width: 40rem;
		}
	}

	@media (min-width: 992px) and (max-width: 1199px) {
		.dropdown-expanded li:not(:first-child) {
			margin-left: 1.3rem;
		}
	}

	@include mq(md) {
		.login-link {
			margin-left: .7rem;
		}
	}

	@include mq(xl, max) {
		.main-nav .menu > li > a {
			padding-left: .9rem;
			padding-right: .9rem;
		}

		.header-dropdown + .header-dropdown {
			margin-left: 1.4rem;
		}
	}

	@include mq(lg, max) {
		.tagcloud,
		.header-userinfo {
			display: none;
		}

		.login-link i {
			margin-right: .5rem;
		}

		.search-toggle {
			float: right;
			color: #fff;
		}

		// Sticky
		.header-bottom.sticky-header.fixed {
			display: none;
		}
	
		.header-middle.sticky-header.fixed {
			.container {
				padding-left: 1rem;
				padding-right: 1rem;
			}

			.mobile-menu-toggler {
				display: block;
			}
		}

		.header-bottom {
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
		}
	}

	@include mq(sm, max) {
		.header-icon,
		.cart-dropdown {
			padding: 0;
		}

		.header-search {
			display: none;
		}
	}
}